#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 200px;
  width: 200px;
  padding: 50px;
  will-change: filter;
  transition: filter 300ms;

}

.logoasu {
  height: 200px;
  width: 200px;
  padding: 50px;
  will-change: filter;
  transition: filter 300ms;
}


.buttons {
  padding: 75px;
  margin: 20px;
  text-align: center;
  font-size: 40px;
  border-style:groove;
  border-radius: 20px;
}

.card {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.read-the-docs {
  color: black;
}

.container {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
