.lab1 {
  position: relative;

}

.lab1_counter {
  display: inline-block;
  position: absolute;
  right: 20px;
  font-size: 30px;
}

.lab1_button {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.lab1_form {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-top: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.lab1_input {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.lab1_buttons {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}